body {margin:0; padding:0; background-color:#754A0B; font-family:Verdana,Arial,Helvetica,sans-serif;
	color:#091350;}
#container {width:600px; padding:20px; margin:20px auto; background-color:#F7D683; min-height:600px;
	border-radius:6px; border:1px solid #091350;}