body {margin:0; padding:0; background-color:#F8F7DB; font-family:Arial,Helvetica,sans-serif;
	color:#091350;}
#container {width:600px; margin:50px auto 20px; background-color:#FEFDEB; min-height:600px; overflow:visible;
	border-radius:6px;
	-moz-box-shadow: 0 0 3px 2px #A1B41D;
	-webkit-box-shadow: 0 0 3px 2px #A1B41D;
	box-shadow: 0 0 3px 2px #A1B41D;}
#header {position:relative;}
#content {padding:10px 30px 30px; width:250px; float:left;}
#footer {margin:0 auto; width:550px; font-size:70%; font-family:verdana;}
h1 {color:#518108; font-weight:normal; margin-top:0; padding:30px; background-color:#E7F295;
	font-weight:normal; border-bottom:1px solid #A1B41D; font-size:150%;}

ul {margin:30px 0 0; padding-left:25px;}
ul li {margin:0; padding:0;}
ul li {list-style-image:url(tick.png); margin-bottom:17px;}
ul li span {position:relative; top:-2px;}
ul li  em {padding-left:2em; color:#777; font-size:80%;}

form {padding:20px;}
label {padding-right:10px;}
input[type=text] {margin-right:10px;}
form table {margin-top:10px;}
div.modal-header {text-align:left; padding:10px 23px; background-color:#e7f294;
	-moz-box-shadow: inset 0 0 2px 1px #A1B41D;
	-webkit-box-shadow: inset 0 0 2px 1px #A1B41D;
	box-shadow: inset 0 0 2px 1px #A1B41D;
	-webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px; -moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px; border-top-right-radius: 10px;}
	
#sidebar {float:right; width:230px; padding-top:10px;}
.error-message {color:red; font-size:75%; font-weight:bold; margin:0 0 .5em;}
.error {border:1px solid red;}
td {vertical-align:top;}